# Frontend
VITE_API_URL=https://recomeco-server.vercel.app
VITE_SUPABASE_URL=https://cmgztprggkyfyglqunme.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtZ3p0cHJnZ2t5ZnlnbHF1bm1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxOTQ2NzgsImV4cCI6MjA5Mzc3MDY3OH0.tNz5MNei-QFfuP5tlrdZVm3eh4ppYie2POolsrqOGN4