# Backend (Vercel)
SUPABASE_URL=https://cmgztprggkyfyglqunme.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role
SUPABASE_ANON_KEY=sua_chave_anon
SUPABASE_JWT_SECRET=seu_jwt_secret
FRONTEND_URL=https://recomeco-nu.vercel.app