# Backend (Vercel)
SUPABASE_URL=https://usrowvkhgsrzkzbmvxoh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role
SUPABASE_ANON_KEY=sua_chave_anon
FRONTEND_URL=
JWT_SECRET=sua_chave_jwt
ADMIN_EMAIL=admin@recomeco.com
ADMIN_PASSWORD=sua_senha